@import "tailwindcss";

@media print {
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
    overflow: visible !important;
  }

  @page {
    margin: 1cm;
    size: portrait;
  }

  .print\:hidden {
    display: none !important;
  }
}
